* {
    color: #fff;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-1 {
    max-width: 1440px;
    margin: 0 auto;
    padding:  0 15px;
}

.container-2 {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0;
}

.header {
    background: #000;
}

.header-glav {
    display: flex;
    align-items: center;
}

.header-block-logo {
    width: 30%;
    padding: 28px 0 20px 0;
}
.header-block-nav {
    width: 70%;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
}

.list-item-link {
    text-decoration: none;
    transition: 0.5s;
}

.list-item-link:hover {
    font-size: 17px;
}

/* sec-1 */

.section-1 {
    background: url(../img/section-1-pic.png);
    background-size: cover;
    margin: 0;
}

.section-1-glav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 716px;
}

.section-1-block-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 49%;
}

.section-1-add-title {
    color: #C0C0C0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    margin: 0;
}

.section-1-title {
    font-size: 54px;
    line-height: 59.4px;
    margin: 0 0 15px 0;
    color: #fff;
    font-weight: 400;
}

.section-1-text {
    margin: 0;
    color: #fff;
}

.section-1-add-info {
    display: flex;
    justify-content: end;
}

.icon-text {
    margin: 0 14px 0 6px;
}

/* sec-2 */

.section-2 {
    background: #000;
    padding: 70px 0 100px 0;
}

.section-2-block-title {
    text-align: center;
}

.section-2-title {
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    padding-bottom: 4px;
}

.section-2-add-title {
    color: #C0C0C0;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    padding: 10px 0 30px 0;
}

.section-2-cart-1-block-info,
.section-2-cart-2-block-info,
.section-2-cart-3-block-info,
.section-2-cart-4-block-info {
    height: 576px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.section-2-cart-1-block-info {
    background: url(../img/sec-2-cart-1.png) no-repeat;
    padding: 0 60px 0 30px;
}
.section-2-cart-2-block-info {
    background: url(../img/sec-2-cart-2.png) no-repeat;
    margin-bottom: 25px;
    padding: 0 60px 0 30px;
}
.section-2-cart-3-block-info {
    background: url(../img/sec-2-cart-3.png) no-repeat;
    padding: 0 30px 0 30px;
}
.section-2-cart-4-block-info {
    background: url(../img/sec-2-cart-4.png) no-repeat;
    padding: 0 90px 0 30px;
}

.section-2-cart-1,
.section-2-cart-2,
.section-2-cart-3,
.section-2-cart-4 {
    width: 50%;
}

.section-2-block-cart-1-and-2 {
    display: flex;
}

.section-2-block-cart-3-and-4 {
    display: flex;
}

.section-2-cart-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

.section-2-cart-btn {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 2px 13px 2px 3px;
    width: 142px;
    cursor: pointer;
    margin: 12px 0 12px 0;
    border: 0;
    font-family: 'Poppins';
    transition: 0.3s;
}
.section-2-cart-btn:hover{
    background-color: #fff;
}

.section-2-cart-btn-block-hole {
    padding-right: 14px;
}

.section-2-cart-text {
    color: #C0C0C0;
}

/* sec-3 */

.section-3 {
    background: url(../img/section-3-pic.png);
    background-size: cover;
}

.section-3-glav {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.section-3-block-text {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 21.5%;
    margin-right: 62px;
}

.section-3-text-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.section-3-text-title-add {
    color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
} 

.section-3-add-info {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100px;
}

/* sec-4 */

.section-4 {
    background: #000;
}

.section-4-glav {
    display: flex;
}

.section-4-block-text,
.section-4-block-img {
    width: 50%;
}

.section-4-block-text {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-4-block-text-add-title {
    color: #C0C0C0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.section-4-block-text-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    padding: 10px 0;
}

.section-4-block-text-info {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    width: 79%;
}

.section-4-block-text-button {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 2px 0px 2px 3px;
    width: 146px;
    cursor: pointer;
    margin: 12px 0 12px 0;
    border: 0;
    line-height: 20px;
    letter-spacing: 0.3px;
    font-size: 16px;
    font-family: 'Poppins';
    transition: 0.3s;
}
.section-4-block-text-button:hover {
    background-color: #fff;
}

.section-4-block-img {
    background: url(../img/section-4-pic.png) no-repeat;
    height: 525px;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 0 15px 15px 0;
}

.section-4-add-info {
    display: flex;
    align-items: center;
}

.section-4-cart-btn-block-hole {
    padding-right: 5px;
}

/* sec-5 */

.section-5 {
    background: url(../img/section-5-pic.png) no-repeat;
    background-size: cover;
}

.section-5-glav {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.section-5-block-text {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 21%;
    margin-right: 62px;
}

.section-5-text-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.section-5-text-title-add {
    color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
} 

.section-5-add-info {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100px;
}

/* sec-6 */

.section-6 {
    background: #000;
}

.section-6-glav {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-6-block-title {
    text-align: center;
}

.section-6-title {
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
}

.section-6-add-title {
    color: #C0C0C0;
    font-weight: 400;
    line-height: 30px;
    font-size: 24px;
    margin: 20px 0 70px 0;
}

.section-6-block-img {
    display: flex;
    justify-content: space-around;
}

/* sec-7 */

.section-7 {
    background: url(../img/1.jpg) no-repeat;
    background-size: cover;
}

.section-7-glav {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.section-7-block-text {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 21%;
    margin-right: 62px;
}

.section-7-text-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.section-7-text-title-add {
    color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
} 

.section-7-add-info {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100px;
}

/* sec-8 */ 

.section-8 {
    background: #000;
}

.section-8-glav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 414px;
}

.section-8-block-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-8-title {
    font-weight: 400;
    line-height: 42px;
    font-size: 40px;
    width: 50%;
}

.section-8-add-title {
    color: #C0C0C0;
    font-weight: 400;
    line-height: 30px;
    font-size: 24px;
    padding: 20px 0 30px 0;
}

.section-8-link {
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    padding: 7px 10px;
    margin-bottom: 50px;
    border-radius: 15px;
    color: #000;
    display: flex;
    align-items: center;
    cursor: pointer;
    letter-spacing: 0.4px;
    transition: 0.3s;
}
.section-8-link:hover {
    background: #fff;
}

.section-8-cart-btn-block-hole {
    padding-right: 5px;
}

/* footer */

.footer {
    background: #000;
}

.footer-glav {
    padding-bottom: 25px;
}

.footer-nav-block {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
}

.footer-nav-block-logo-text {
    font-size: 13px;
    color: #C0C0C0;
    font-weight: 400;
    line-height: 20px;
}

.footer-nav-block-nav {
    display: flex;
    justify-content: start;
}

.footer-nav-1 {
    margin-right: 50px;
}

.footer-nav-2 {
    margin-right: 50px;
    padding-left: 10px;
}

.footer-nav-list {
    list-style: none;
}

.footer-nav-list-item-link-title {
    text-decoration: none;
    color: #C0C0C0;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
}

.footer-nav-list-item-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 2px;
    color: #fff;
    transition: 0.3s;
}

.footer-nav-list-item {
    width: 200px;
}

.footer-nav-list-item-link:hover {
    font-size: 15px;
}

.footer-nav-list {
    padding: 25px;
}

.footer-sub-block {
    display: flex;
    height: 150px;
    align-items: center;
    border-bottom: 2px solid#ffffff;
}

.footer-sub-block-info {
    width: 51%;
}

.footer-sub-block-input {
    width: 49%;
}

.footer-sub-input {
    background: #ffffff;
    padding: 13px 20px 13px 380px;
    border-radius: 15px;
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.footer-sub-input-block-hole {
    background: #000;
    height: 10px;
    width: 10px;
    border-radius: 5px;
}

.footer-aperture-block {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-aperture-soc-link-1 {
    background: url(../img/mini-icon/twitter-icon.svg) no-repeat  50%;
    padding: 20px 20px;
    margin: 0 10px;
}
.footer-aperture-soc-link-2 {
    background: url(../img/mini-icon/insta-icon.svg) no-repeat  50%;
    padding: 20px 20px;
    margin: 0 10px;
}
.footer-aperture-soc-link-3 {
    background: url(../img/mini-icon/facebook-icon.svg) no-repeat  50%;
    padding: 20px 20px;
    margin: 0 10px;
}